body{
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(128, 128, 128, 0.658), rgba(73, 42, 42, 0.767));
}

main{
    visibility: hidden;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    border: 2px solid black;
}

div{
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
}

div:hover{
    background-color: yellow;
}

h3{
    display: none;
    margin-bottom: -5px;
}

button{
    background-color: blue;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px;
}

button:hover{
    background-color:dodgerblue;
}

button:active{
    color: black;
}

#start{
    margin-bottom: 25px;
}

#end{
    visibility: hidden;
    margin-top: 25px;
}

@media (max-width: 400px){
    main{
        width: 100vw;
        height: 100vw
    }
};
    
